@charset "utf-8";

/************ 初期設定 *********************/
img {
  max-width: 100%;
}

.fadeout {
  animation: fadeOut 3s;
  animation-fill-mode: both;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/************ pupup-mail ************************/
#popup-mail-button {
  position: fixed;
  left: 10px;
  bottom: 10px;
  cursor: pointer;
  width: 70px;
  z-index: 10001;
  background-color: #fff;
  padding: 0;
  line-height: 1em;
}

#popup-mail-form {
  position: fixed;
  left: 10px;
  bottom: 10px;
  width: 95%;
  padding: 10px;
  background-color: #009245;
  z-index: 10002
}

#popup-mail-form p {
  margin-bottom: 10px;
}

#popup-mail-form label {
  color: #fff;
}

#name, #email, #comment {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

#comment {
  height: 200px;
}


#okuru {
  width: 100px;
  height: 30px;
  cursor: pointer;
  line-height: 1.8;
  padding: 0;
}

#closeButton {
  position: absolute;
  top: 0;
  right: 5px;
  background-color: #444;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: -25px;
}

#messageArea {
	position: fixed;
	left: 120px;
	bottom: 10px;
}

@media screen and (min-width: 768px) {
  #popup-mail-button {
    left: 20px;
    bottom: 20px;
    width: 80px;
    z-index: 10001;
  }

  #popup-mail-form {
    left: 20px;
    bottom: 20px;
    width: 400px;
    padding: 10px;
    background-color: #009245;
    z-index: 10002
  }

}
